*.suo
*.user
ContentManager/bin/
ContentManager/obj/
SilverlightExample/Bin/
SilverlightExample/obj/
WindowsPhoneGameExample/WindowsPhoneGameExample/bin/
WindowsPhoneGameExample/WindowsPhoneGameExample/obj/
WindowsPhoneGameExample/WindowsPhoneGameExampleContent/obj/
WindowsPhoneGameExample/WindowsPhoneGameExample/WindowsPhoneGameExample.csproj.Debug.cachefile
WindowsPhoneGameExample/WindowsPhoneGameExample/Thumbs.db
